<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{disenoBase::site-head}"></head>

<body>
    <header th:replace="~{disenoBase::site-header}"></header>
    <main class="container p-0" role="main">
        <div class="container bg-light p-5 rounded mx-auto" id="divCasoForm">
            <h4 class="text-primary">Datos de Cliente</h4>
            <hr>
            <form class="row g-3" th:object="${cliente}" th:action="${cliente.id != null} ? 
                @{/client/editar} : @{/client/nuevo}" method="post">

                <div class="hide">
                    <!--
                <label for="inputId" class="form-label">Descripción</label>
                -->
                    <input type="hidden" id="inputId" placeholder="ingrese Id" th:class="${#fields.hasErrors('id')} ?
                                'form-control is-invalid' : 'form-control is-valid'" th:field="*{id}"
                        th:value="*{id}" />

                    <div class="invalid-feedback">
                        <small th:errors="*{id}">error</small>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="inputApellido" class="form-label">Apellidos</label>
                    <input type="text" id="inputApellido" placeholder="ingrese Apellidos" th:class="${#fields.hasErrors('apellido')} ?
                            'form-control is-invalid' : 'form-control'" th:field="*{apellido}"
                        th:value="*{apellido}" />

                    <div class="invalid-feedback">
                        <small>Correcto</small></small>
                    </div>
                    <div class="invalid-feedback">
                        <small th:errors="*{apellido}">error</small>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="inputNombre" class="form-label">Nombres</label>
                    <input type="text" id="inputNombre" placeholder="ingrese Nombres" th:class="${#fields.hasErrors('nombre')} ?
                            'form-control is-invalid' : 'form-control'" th:field="*{nombre}" th:value="*{nombre}" />

                    <div class="invalid-feedback">
                        <small>Correcto</small></small>
                    </div>
                    <div class="invalid-feedback">
                        <small th:errors="*{nombre}">error</small>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="inputDni" class="form-label">DNI</label>
                    <input type="text" id="inputDni" placeholder="ingrese DNI" th:class="${#fields.hasErrors('dni')} ?
                            'form-control is-invalid' : 'form-control'" th:field="*{dni}" th:value="*{dni}" />

                    <div class="valid-feedback">
                        <small>Correcto</small>
                    </div>
                    <div class="invalid-feedback">
                        <small th:errors="*{dni}">error</small>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="imputFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" id="imputFechaNacimiento" th:class="${#fields.hasErrors('fechaNacimiento')} ?
                            'form-control is-invalid' : 'form-control'" th:field="*{fechaNacimiento}"
                        th:value="*{fechaNacimiento}" />

                    <div class="valid-feedback">
                        <small>Correcto</small>
                    </div>
                    <div class="invalid-feedback">
                        <small th:errors="*{fechaNacimiento}">error</small>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="inputEmail" class="form-label">eMail</label>
                    <input type="email" id="inputEmail" placeholder="ingrese eMail" th:class="${#fields.hasErrors('email')} ?
                            'form-control is-invalid' : 'form-control'" th:field="*{email}" th:value="*{email}" />

                    <div class="valid-feedback">
                        <small>Correcto</small>
                    </div>
                    <div class="invalid-feedback">
                        <small th:errors="*{email}">error</small>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="inputCelular" class="form-label">Celular</label>
                    <input type="text" id="inputCelular" placeholder="ingrese Celular" th:class="${#fields.hasErrors('celular')} ?
                            'form-control is-invalid' : 'form-control'" th:field="*{celular}" th:value="*{celular}" />

                    <div class="valid-feedback">
                        <small>Correcto</small>
                    </div>
                    <div class="invalid-feedback">
                        <small th:errors="*{celular}">error</small>
                    </div>
                </div>

                <div class="col-12 mb-1">
                    <button type="submit" class="btn btn-outline-primary">
                        Aceptar
                    </button>
                    <a class="btn btn-outline-secondary" th:href="@{/client/index}" role="button">
                        Cerrar
                    </a>
                </div>
            </form>
        </div>
    </main>

    <footer th:replace="~{disenoBase::site-footer}"></footer>
    <div th:replace="~{disenoBase::site-bootstrap}"></div>
</body>
</html>